<p>error-page works!</p>

<ul>
  <li>
    <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
      Ir a Login
    </a>
  </li>
  <li>
    <a [routerLink]="['/auth/registro']" routerLinkActive="router-link-active">
      Ir a Registro
    </a>
  </li>
  <li>
    <a [routerLink]="['/heroes/agregar']" routerLinkActive="router-link-active">
      Ir a Agregar
    </a>
  </li>
  <li>
    <a [routerLink]="['/heroes/buscar']" routerLinkActive="router-link-active">
      Ir a Buscar
    </a>
  </li>
  <li>
    <a [routerLink]="['/heroes/heroe']" routerLinkActive="router-link-active">
      Ir a Héroe
    </a>
  </li>
  <li>
    <a [routerLink]="['/heroes/listado']" routerLinkActive="router-link-active">
      Ir a Listado
    </a>
  </li>

</ul>
